footer{
    width: 100%;
    height: auto;
    padding-top: 20px;
    background-image: linear-gradient(to top, $gradient1, $gradient2, $blanco);
    .formFooter{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: $rem*1.2;
        #suscripcion{
            width: 16%;
            height: 1.7rem;
            border-radius: 0px;
            border: .5px solid $marron;
            margin: 5px;
            font-size: $rem;
            font-family: 'Nunito', sans-serif;
        }
        #enviarFooter{
            width: 16.5%;
            height: 1.7rem;
            border-radius: 1.5rem;
            border: 2px solid$amarillo;
            background-color:$amarillo;
            font-family: 'Nunito', sans-serif;
            color: #fff;
            font-weight: bolder;
            font-size: $rem;
            transition: 1s;
        }
        #enviarFooter:hover{
            background-color: $turquesa;
            border: 2px solid $turquesa;
        }
    }
    .redes{
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        a{
            padding: 1rem;
            text-decoration: none;
            color: $amarillo;
            font-size: 2rem;
            transition: 1s;
        }
        a:hover{
            color: $turquesa;
        }
    }
}

@media only screen and (max-width: 1020px){
    footer{
        height: 12.5rem;
        padding-top: $rem;
        .formFooter{
            font-size: $rem;
            #suscripcion{
                width: 14rem;
                height: 1.75rem;
                margin: .3rem;
                font-size: $rem;
                margin-bottom: .5rem;
            }
            #enviarFooter{
                width: 14.2rem;
                height: 1.75rem;
                border-radius: 10px;
                font-size: $rem;
            }
        }
        .redes{
            padding: 0;
            margin-top: 1.6rem;
        }
    }
}
@media only screen and (max-width: 768px){
    footer{
        height: 10rem;
        padding-top: $rem;
        .formFooter{
            font-size: .8rem;
            #suscripcion{
                width: 12rem;
                height: 1.5rem;
                margin: .3rem;
                font-size: .8rem;
                margin-bottom: .5rem;
            }
            #enviarFooter{
                width: 12.2rem;
                height: 1.5rem;
                border-radius: 10px;
                font-size: .8rem;
            }
        }
        .redes{
            padding: 0;
            margin-top: 1.2rem;
            a{
                font-size: $rem;
            }
        }
    }
}
@media only screen and (max-width: 480px){
    footer{
        height: 9.2rem;
        .formFooter{
            font-size: .8rem;
            #suscripcion{
                width: 10rem;
                margin-bottom: .3rem;
            }
            #enviarFooter{
                width: 10rem;

            }
        }
        .redes{
            padding: 0;
            margin-top: .8rem;
            a{
                font-size: .8rem;
            }
        }
    }
}