.mainIndex{
    width: 100%;
    height: auto;
    margin-bottom: $rem;
    padding-top: $rem;
    .contMainAutor{
        width: 90%;
        height: 50vh;
        margin: auto;
        margin-top: $rem;
        background-color: $amarillo_claro;
        // box-shadow: .1rem .1rem .5rem $marron;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 'titulo titulo titulo foto' 'texto texto texto foto' 'boton boton boton foto';
        align-items: center;
        justify-content: center;
        .tituloAutor{
            grid-area: titulo;
            margin: $rem;
            text-align: center;
            font-size: $rem*2.5;
            font-family: 'Dancing Script', cursive;
            font-weight: bolder;
        }
        .textoAutor{
            grid-area: texto;
            margin: 0;
            margin-left: $rem;
            font-family: 'Amaranth', sans-serif;
            font-size: $rem*1.3;
            text-align: center;
            font-style: italic;
        }
        .botonAutor{
            grid-area: boton;
            margin: auto;
            padding: .5rem $rem;
            font-size: $rem;
            background-color: $marron;
            text-decoration: none;
            text-shadow: 1px 1px 2px $negro;
            color: $blanco;
            font-family: 'Amaranth', sans-serif;
            border-radius: 1.3rem;
            box-shadow: .1rem .1rem $rem rgb(95, 95, 95);
            transition: 1s;
        }
        .botonAutor:hover{
            background-color: $amarillo;
        }
        .imgAutor{
            grid-area: foto;
            height: 40vh;
            border-radius: 30%;
            margin: auto;
        }
    }
    .contMain{
        margin-top: $rem*2;
        display: flex;
        .artMain{
            width: 50%;
            margin: .5rem;
            // border: 1px solid $turquesa;
            box-shadow: .2rem .2rem $rem/2 darkgray;
            h2{
                margin-bottom: $rem;
                font-family: 'Amaranth', sans-serif;
                color: $amarillo;
                text-shadow: .1rem .1rem .1rem $marron;
                font-size: 2rem;
                text-align: center;
            }
            .artFormato{
                display: flex;
                .imgArt{
                    height: 12.5rem;
                    margin: $rem/2;
                    padding: $rem/3;
                }
                .artReceta{
                    display: flex;
                    flex-direction: column;
                    margin-left: $rem*2;  
                    h3{
                        font-family: 'Amaranth', sans-serif;
                        color: $marron;
                        font-weight: bolder;
                        font-size: 1.8rem;
                        text-align: left;
                        margin-bottom: $rem;
                        margin-top: $rem;
                    }              
                    .ingReceta{
                        font-size: 1.2rem;
                    }
                }
            }
            h3.prep{
                margin-left: 10px;
                font-weight: bolder;
            }
            .textoArt{
                margin: $rem;
                margin-top: 0;
                font-size: 1.2rem;
                text-align: left;
                a{
                    text-decoration: none;
                    color: $marron;
                    font-family: 'Amaranth', sans-serif;
                    transition: .5s;
                }
                a:hover{
                    background-color: $amarillo_claro;
                }
            }
        }
    }
}
.carousel-inner, .carousel-item{
    height: 39rem !important;
    width: 96% !important;
    margin-left: 2%;
    margin-right: 2%;
}

@media only screen and (max-width: 1020px){
    .mainIndex{
        .contMainAutor{
            .tituloAutor{
                font-size: $rem*2;
            }
            .textoAutor{
                font-size: $rem;
            }
            .botonAutor{
                padding: .3rem .5rem;
                font-size: .8rem;
                border-radius: 1rem;
            }
        }
        .contMain{
            display: flex;
            flex-direction: column;
            .artMain{
                width: 90%;
                margin: auto;
                h2{
                    margin-bottom: $rem;
                    color: $amarillo;
                    font-weight: bolder;
                    font-size: 2rem;
                    text-align: center;
                }
                .artFormato{
                    display: flex;
                    justify-content: center;
                    .imgArt{
                        height: 15rem;
                    }
                    .artReceta{
                        display: flex;
                        flex-direction: column;
                        margin-left: $rem*4;  
                        h3{
                            font-size: 1.5rem;
                        }              
                        .ingReceta{
                            font-size: 1.2rem;
                        }
                    }
                }
                h3.prep{
                    font-family: 'Amaranth', sans-serif;
                    color: $marron;
                    font-weight: bolder;
                    font-size: 1.5rem;
                    text-align: left;
                    margin-bottom: $rem;
                    margin-top: $rem;
                    margin-left: 2rem;
                }
            }
        }
    }
    .segundoArt{
        padding-top: 2rem;
    }
    .carousel-inner, .carousel-item{
        height: auto !important;
    }
}

@media only screen and (max-width: 768px){
    .mainIndex{
        .contMainAutor{
            .tituloAutor{
                font-size: $rem*1.5;
            }
            .textoAutor{
                font-size: .8rem;
            }
        }
        .contMain{
            display: flex;
            flex-direction: column;
            .artMain{
                width: 90%;
                margin: auto;
                h2{
                    padding-top: $rem;
                    font-size: 1.5rem;
                    text-shadow: inherit;
                    font-weight: bolder;
                }
                .artFormato{
                    display: flex;
                    justify-content: center;
                    .imgArt{
                        height: 15rem;
                    }
                    .artReceta{
                        display: flex;
                        flex-direction: column;
                        margin-left: $rem*2;  
                        h3{
                            font-size: 1.3rem;
                        }              
                        .ingReceta{
                            font-size: $rem;
                        }
                    }
                }
                .textoArt{
                    font-size: $rem;
                    margin-left: 2rem;
                }
            }
        }
    }
    .segundoArt{
        padding-top: 0;
    }
}

@media only screen and (max-width: 480px){
    .mainIndex{
        .contMainAutor{
            height: auto;
            display: flex;
            flex-direction: column;
            padding: $rem;
            .tituloAutor{
                font-size: $rem;
                margin-bottom: 0;
            }
            .textoAutor{
                font-size: .8rem;
            }
            .botonAutor{
                padding: .3rem .3rem;
                font-size: .7rem;
                border-radius: 1rem;
                box-shadow: inherit;
            }
            .imgAutor{
                height: 30vh;
            }
        }
        .contMain{
            flex-direction: column;
            margin-top: 0;
            .artMain{
                box-shadow: inherit;
                width: 100%;
                h2{
                    margin-bottom: $rem;
                    font-size: 1.5rem;
                }
                .artFormato{
                    display: flex;
                    flex-direction: column;
                    .imgArt{
                        height: 18rem;
                        margin-left: 2rem;
                        margin-right: 2rem;
                        padding: $rem/3;
                    }
                    .artReceta{
                        display: flex;
                        flex-direction: column;
                        margin-left: $rem;                
                        .ingReceta{
                            font-size: $rem;
                        }
                    }
                }
                .textoArt{
                    font-size: $rem;
                    margin-left: 1.5rem;
                }
            }
        }
    }
    
    h3{
        font-size: 1.3rem;
    }
    h3.prep{
        margin-left: 2rem;
    }
    
    .carousel-inner, .carousel-item{
        height: auto !important;
        width: 96% !important;
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media only screen and (max-width: 380px){
    .mainIndex{
        .contMainAutor{
            height: auto;
            display: flex;
            flex-direction: column;
            padding: $rem;
            .tituloAutor{
                font-size: $rem;
                margin-bottom: 0;
            }
            .textoAutor{
                font-size: .8rem;
            }
            .botonAutor{
                margin-top: .5rem;
                padding: .3rem .3rem;
                font-size: .7rem;
                border-radius: 1rem;
                box-shadow: inherit;
            }
            .imgAutor{
                height: 35vh;
            }
        }
        .contMain{
            .artMain{
                .artFormato{
                    .imgArt{
                        height: 15rem;
                        margin-left: 1.5rem;
                        margin-right: 1.5rem;
                    }
                    .artReceta{               
                        .ingReceta{
                            font-size: .8rem;
                        }
                    }
                }
                .textoArt{
                    font-size: .8rem;
                    margin-left: 1.5rem;
                }
            }
        }
    }
}
