.mainQuienSoy{
    section{
        padding: $rem;
        .biografia{
            border-bottom: 1px solid $turquesa;
            h2{
                text-align: left;
            }
        }
        h2{
            font-weight: bolder;
            padding-bottom: $rem;
            font-family: 'Amaranth', sans-serif;
            color: $amarillo;
            font-size: 2rem;
        }
        p{
            font-size: $rem;
            a{
                text-decoration: none;
                color: $turquesa;
                font-weight: bolder;
            }
            a:hover{
                background-color: $amarillo;
                color: $marron;
                padding: .3rem;
                border: 1px solid $amarillo;
                border-radius: 5px;
            }
        }
        ul{
            li{
                list-style: circle;
                color: #000;
            }
        }
        .hobbies{
            h2{
                text-align: right;
            }
            p{
                text-align: left;
            }
            .galeria{
                width: 95%;
                height: auto;
                margin: auto;
                margin-bottom: 20px;
                padding: 2%;
                background-color: $amarillo_claro;
                display: grid;
                grid-template-columns:1fr 1fr 1fr 1fr;
                grid-template-rows:1fr 1fr 1fr 1fr;
                grid-template-areas: "foto2 foto4 foto4 foto7" "foto2 foto4 foto4 foto7" "foto1 foto1 foto3 foto6" "foto1 foto1 foto3 foto5";
                .foto{
                    min-height: 200px;
                    min-width: 200px;
                    background-size: cover;
                }
                .foto:hover{
                    transform: scale(1.2);
                    transition: 0.8s;
                    box-shadow: 5px 5px 20px 1px #000;
                }
                .foto1{ 
                    background-image: url('../imágenes/amigos.jpeg');
                    background-position: center;
                    grid-area: foto1;
                }
                .foto2{
                    background-image: url('../imágenes/baile.jpeg');
                    background-position: center;
                    grid-area: foto2;
                }
                .foto3{
                    background-image: url('../imágenes/campo-de-margaritas.jpeg');
                    background-position: top;
                    grid-area: foto3;
                }
                .foto4{
                    background-image: url('../imágenes/comida-sana.jpeg');
                    background-position: bottom;
                    grid-area: foto4;
                }
                .foto5{
                    background-image: url('../imágenes/ejercicio.jpeg');
                    background-position: center;
                    grid-area: foto5;
                }
                .foto6{
                    background-image: url('../imágenes/familia.jpeg');
                    background-position: center;
                    grid-area: foto6;
                }
                .foto7{
                    background-image: url('../imágenes/naturaleza.jpeg');
                    background-position: center;
                    grid-area: foto7;
                }
            }
        }
    }    
}

















