.mainContacto{
    width: 100%;
    height: auto;
    padding-bottom: $size1;
    background-image: linear-gradient(to top, $color2, $color8, $color2);
    h2{
        margin-bottom: $size1;
        font-family: 'Amaranth', sans-serif;
        color: $color4;
        text-shadow: .1rem .1rem .1rem $color5;
        font-size: $size3;
        text-align: center;
    }
    #contacto{
        width: 30%;
        margin: auto;
        text-align: center;
        padding: 10px;
        label{
            font-family: 'Amaranth', sans-serif;
            color: $color3;
            font-size: $size1*1.3;
        }
        input{
            width: 80%;
            border-radius: $size2;
            border: 1px solid $color3;
            text-align: center;
            font-family: 'Amaranth', sans-serif;
        }
        #edad{
            width: 10%;
        }
        #consulta{
            width: 80%;
            border-radius: $size2;
            border: 1px solid $color3;
            font-family: 'Amaranth', sans-serif;
            padding: $size1;
        }
        .botonEnviar{
            margin:$size1;
            background-color: $color3;
            color: $color2;
            font-size: $size1*1.2;
        }
        .botonBorrar{
            @extend .botonEnviar;
            margin: 0;
        }
    }
}


@media only screen and (max-width: 1020px){
    .mainContacto{
        h2{
            font-size: $size2*1.5;
        }
        #contacto{
            width: 35%;
            label{
                font-size: $size1;
            }
            input{
                width: 90%;
                border-radius: $size3/2;
            }
            #edad{
                width: 15%;
            }
            #consulta{
                width: 90%;
                border-radius: $size3/2;
            }
            .botonEnviar{
                font-size: $size1;
            }
            .botonBorrar{
                margin: 0;
            }
        }
    }
}
@media only screen and (max-width: 768px){
    .mainContacto{
        h2{
            font-size: $size2;
        }
        #contacto{
            width: 40%;
            label{
                font-size: $size1;
            }
            input{
                width: 90%;
                border-radius: $size1*1.3;
            }
            #edad{
                width: 15%;
            }
            #consulta{
                width: 90%;
                border-radius: $size1*1.3;
            }
            .botonEnviar{
                font-size: $size1;
            }
            .botonBorrar{
                margin: 0;
            }
        }
    }
}
@media only screen and (max-width: 480px){
    .mainContacto{
        h2{
            font-size: $size2;
        }
        #contacto{
            width: 60%;
        }
    }
}
@media only screen and (max-width: 380px){
    .mainContacto{
        h2{
            font-size: $size1*1.8;
        }
        #contacto{
            width: 80%;
        }
    }
}