.mainRecetas{
    width: 80%;
    height: auto;
    margin: $rem*1.5 auto;
    .tituloReceta{
        margin-bottom: $rem;
        font-family: 'Amaranth', sans-serif;
        color: $amarillo;
        text-shadow: .1rem .1rem .1rem $marron;
        font-size: $rem*4;
        text-align: center;
    }
    .primeraReceta{
        display: flex;
        justify-content: space-evenly;
        .fotoReceta{
            width: 40%;
            transition: 1s;
            box-shadow: .1rem .1rem .5rem rgba($color: #000000, $alpha: .5);
        }
        .fotoReceta:hover{
            transform: rotate(45deg);
        }
        .flexIngredientes{
            margin: 0 5%;
            h3{
                font-family: 'Amaranth', sans-serif;
                font-size: $rem*3;
                margin-bottom: 20px;
                font-weight: bolder;
                color: $marron;
            }
            ol{
                li{
                    font-size: $rem*1.4;
                }
            }
        }
    }
    .flexPreparacion{
        h3{
            font-family: 'Amaranth', sans-serif;
            color: $marron;
            margin-top: $rem;
            font-size: $rem*3;
            margin-bottom: 20px;                
            font-weight: bolder;
        }
        p{
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
}

@media only screen and (max-width: 1020px){
    .mainRecetas{
        .tituloReceta{
            font-size: $rem*3.5;
        }
        .primeraReceta{
            .flexIngredientes{
                h3{
                    font-size: $rem*2.5;
                }
                ol{
                    li{
                        font-size: $rem*1.2;
                    }
                }
            }
        }
        .flexPreparacion{
            h3{
                font-size: $rem*2.5;
            }
            p{
                font-size: $rem*1.2;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .mainRecetas{
        .tituloReceta{
            font-size: $rem*3;
        }
        .primeraReceta{
            .flexIngredientes{
                h3{
                    font-size: $rem*2;
                }
                ol{
                    li{
                        font-size: $rem;
                    }
                }
            }
        }
        .flexPreparacion{
            h3{
                font-size: $rem*2;
            }
            p{
                font-size: $rem;
            }
        }
    }
}

@media only screen and (max-width: 480px){
    .mainRecetas{
        .tituloReceta{
            font-size: $rem*2.5;
        }
        .primeraReceta{
            flex-direction: column;
            .fotoReceta{
                width: 80%;
                margin-left: 0;
                margin: auto;
            }
            .flexIngredientes{
                margin-top: $rem;
                h3{
                    font-size: $rem*1.5;
                }
                ol{
                    li{
                        font-size: $rem;
                    }
                }
            }
        }
        .flexPreparacion{
            h3{
                font-size: $rem*1.5;
            }
            p{
                font-size: $rem;
            }
        }
    }
}

@media only screen and (max-width: 380px){
    .mainRecetas{
        .tituloReceta{
            font-size: $rem*2;
        }
        .primeraReceta{
            flex-direction: column;
            .fotoReceta{
                width: 80%;
                margin-left: 0;
                margin: auto;
            }
            .flexIngredientes{
                margin-top: $rem;
                h3{
                    font-size: $rem*1.3;
                }
                ol{
                    li{
                        font-size: $rem;
                    }
                }
            }
        }
        .flexPreparacion{
            h3{
                font-size: $rem*1.3;
            }
            p{
                font-size: $rem;
            }
        }
    }
}