.mainRecetas{
    width: 80%;
    height: auto;
    margin: $rem*1.5 auto;
    .tituloReceta{
        margin-bottom: $rem;
        font-family: 'Amaranth', sans-serif;
        color: $amarillo;
        text-shadow: .1rem .1rem .1rem $marron;
        font-size: $rem*4;
        text-align: center;
    }
    .primeraReceta{
        display: flex;
        justify-content: space-evenly;
        .fotoReceta{
            width: 40%;
            transition: 1s;
            box-shadow: .1rem .1rem .5rem rgba($color: #000000, $alpha: .5);
        }
        .fotoReceta:hover{
            transform: rotate(45deg);
        }
        .flexIngredientes{
            margin: 0 5%;
            h3{
                font-size: $rem*3;
                margin-bottom: 20px;
                font-weight: bolder;
            }
            ol{
                li{
                    font-size: $rem*1.4;
                }
            }
        }
    }
    .flexPreparacion{
        h3{
            margin-top: $rem;
            font-size: $rem*3;
            margin-bottom: 20px;                font-weight: bolder;
        }
        p{
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
}

