.mainContacto{
    width: 100%;
    height: auto;
    padding-bottom: $rem;
    background-image: linear-gradient(to top, $blanco, $amarillo_claro, $blanco);
    h2{
        margin-bottom: $rem;
        font-family: 'Amaranth', sans-serif;
        color: $amarillo;
        text-shadow: .1rem .1rem .1rem $marron;
        font-size: $rem*3;
        text-align: center;
    }
    #contacto{
        width: 30%;
        margin: auto;
        text-align: center;
        padding: 10px;
        label{
            font-family: 'Amaranth', sans-serif;
            color: $turquesa;
            font-size: $rem*1.3;
        }
        input{
            width: 80%;
            border-radius: $rem*2;
            border: 1px solid $turquesa;
            text-align: center;
            font-family: 'Amaranth', sans-serif;
        }
        #edad{
            width: 10%;
        }
        #consulta{
            width: 80%;
            border-radius: $rem*2;
            border: 1px solid $turquesa;
            font-family: 'Amaranth', sans-serif;
            padding: $rem;
        }
        .botonEnviar{
            margin:$rem;
            background-color: $turquesa;
            color: $blanco;
            font-size: $rem*1.2;
        }
        .botonBorrar{
            @extend .botonEnviar;
            margin: 0;
        }
    }
}


@media only screen and (max-width: 1020px){
    #contacto{
        width: 35%;
        font-size: $rem;
    }
}
@media only screen and (max-width: 768px){
    #contacto{
        width: 45%;
        font-size: .8rem;
    }
}
@media only screen and (max-width: 480px){
    #contacto{
        width: 55%;
        font-size: .7rem;
    }
}
@media only screen and (max-width: 380px){
    #contacto{
        width: 65%;
        font-size: .5rem;
    }
}