.mainQuienSoy{
    width: 90%;
    height: auto;
    margin: $size1 5%;
    section{
        padding: $size1;
        .biografia{
            margin-bottom: $size1;
            h2{
            margin-bottom: $size1;
            font-family: 'Amaranth', sans-serif;
            color: $color4;
            text-shadow: .1rem .1rem .1rem $color5;
            font-size: $size3;
            text-align: left;
            }
            .contBiografia{
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-evenly;
                .imgBiografia{
                    margin-left: $size1;
                    height: 55vh;
                    transition: 1s;
                }
                .imgBiografia:hover{
                    transform: scale(1.1);
                    box-shadow: .1rem .1rem .5rem $color3;
                }
                p{
                    font-size: $size1*1.3;
                    margin-left: $size2;
                    a{
                        text-decoration: none;
                        color: $color3;
                        font-weight: bolder;
                    }
                    a:hover{
                        background-color: $color4;
                        color: $color5;
                        padding: .3rem;
                        border: 1px solid $color4;
                        border-radius: 5px;
                    }
                }
            }
        }
        .hobbies{
            h2{
                margin-bottom: $size1;
                font-family: 'Amaranth', sans-serif;
                color: $color4;
                text-shadow: .1rem .1rem .1rem $color5;
                font-size: $size3;
                text-align: right;
            }
            p{
                font-size: $size1*1.3;
            }
            ul{
                li{
                    list-style: circle;
                    color: $color1;
                    font-size: $size1*1.3;
                }
            }
            .galeria{
                width: 95%;
                height: auto;
                margin: auto;
                display: grid;
                grid-template-columns:1fr 1fr 1fr 1fr;
                grid-template-rows:1fr 1fr 1fr 1fr;
                grid-template-areas: "foto2 foto4 foto4 foto7" "foto2 foto4 foto4 foto7" "foto1 foto1 foto3 foto6" "foto1 foto1 foto3 foto5";
                .foto{
                    min-height: 200px;
                    min-width: 200px;
                    background-size: cover;
                }
                .foto:hover{
                    transform: scale(1.2);
                    transition: 0.8s;
                    box-shadow: 5px 5px 20px 1px $color1;
                }
                .foto1{ 
                    background-image: url('../imágenes/amigos.jpeg');
                    background-position: center;
                    grid-area: foto1;
                }
                .foto2{
                    background-image: url('../imágenes/baile.jpeg');
                    background-position: center;
                    grid-area: foto2;
                }
                .foto3{
                    background-image: url('../imágenes/campo-de-margaritas.jpeg');
                    background-position: top;
                    grid-area: foto3;
                }
                .foto4{
                    background-image: url('../imágenes/comida-sana.jpeg');
                    background-position: bottom;
                    grid-area: foto4;
                }
                .foto5{
                    background-image: url('../imágenes/ejercicio.jpeg');
                    background-position: center;
                    grid-area: foto5;
                }
                .foto6{
                    background-image: url('../imágenes/familia.jpeg');
                    background-position: center;
                    grid-area: foto6;
                }
                .foto7{
                    background-image: url('../imágenes/naturaleza.jpeg');
                    background-position: center;
                    grid-area: foto7;
                }
            }
        }
    }    
}

@media only screen and (max-width: 1020px){
    .mainQuienSoy{
        section{
            .biografia{
                h2{
                font-size: $size2*1.5;
                }
                .contBiografia{
                    .imgBiografia{
                        height: 80vh;
                    }
                    p{
                        font-size: $size1;
                    }
                }
            }
            .hobbies{
                h2{
                    font-size: $size2*1.5;
                }
                p{
                    font-size: $size1;
                }
                ul{
                    li{
                        font-size: $size1;
                    }
                }
            }
        }    
    }
}

@media only screen and (max-width: 768px){
    .mainQuienSoy{
        width: 94%;
        margin: $size1 3%;
        section{
            .biografia{
                h2{
                font-size: $size2*1.5;
                font-weight: bolder;
                text-align: center;
                }
                .contBiografia{
                    flex-wrap: wrap;
                    .imgBiografia{
                        height: 50vh;
                    }
                    p{
                        font-size: $size1*1.2;
                        margin-left: 0;
                    }
                }
            }
            .hobbies{
                h2{
                    font-size: $size2*1.5;
                    text-align: center;
                }
                p{
                    font-size: $size1*1.2;
                }
                ul{
                    li{
                        list-style: circle;
                        color: $color1;
                        font-size: $size1*1.2;
                    }
                }
                .galeria{
                    width: 95%;
                    height: auto;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    .foto{
                        height: 100vh;
                    }
                }
            }
        }    
    }
}

@media only screen and (max-width: 480px){
    .mainQuienSoy{
        section{
            .biografia{
                h2{
                font-size: $size2;
                }
                .contBiografia{
                    .imgBiografia{
                        height: 40vh;
                    }
                    p{
                        font-size: $size1;
                    }
                }
            }
            .hobbies{
                h2{
                    font-size: $size2;
                }
                p{
                    font-size: $size1;
                }
                ul{
                    li{
                        font-size: $size1;
                    }
                }
                .galeria{
                    display: none;
                }
            }
        }    
    }
}

@media only screen and (max-width: 380px){
    .mainQuienSoy{
        section{
            .biografia{
                h2{
                font-size: $size1*1.8;
                }
                .contBiografia{
                    .imgBiografia{
                        height: 40vh;
                    }
                }
            }
            .hobbies{
                h2{
                    font-size: $size1*1.8;
                }
            }
        }    
    }
}