.mainRecetas{
    width: 90%;
    height: auto;
    margin: $size1*1.5 auto;
    .tituloReceta{
        margin-bottom: $size1;
        font-family: 'Amaranth', sans-serif;
        color: $color4;
        text-shadow: .1rem .1rem .1rem $color5;
        font-size: $size2*2;
        text-align: center;
    }
    .primeraReceta{
        display: flex;
        justify-content: space-evenly;
        .fotoReceta{
            width: 40%;
            transition: 1s;
            box-shadow: .1rem .1rem .5rem rgba($color: #000000, $alpha: .5);
        }
        .fotoReceta:hover{
            transform: rotate(45deg);
        }
        .flexIngredientes{
            margin: 0 5%;
            h3{
                font-family: 'Amaranth', sans-serif;
                font-size: $size3;
                margin-bottom: 20px;
                font-weight: bolder;
                color: $color5;
            }
            ul{
                li{
                    font-size: $size1*1.3;
                }
            }
            .ingReceta{
                li{
                    font-size: $size1;
                }
            }
        }
    }
    .flexPreparacion{
        h3{
            font-family: 'Amaranth', sans-serif;
            color: $color5;
            margin-top: $size1;
            font-size: $size3;
            margin-bottom: 20px;                
            font-weight: bolder;
        }
        p{
            font-size: 20px;
            margin-bottom: 10px;
            em{
                font-size: 20px;
            }
        }
    }
    .contenedorBotones{
        display: flex;
        justify-content: space-between;
        .botonRecetas{
            text-decoration: none;
            background-color: $color7;
            color: $color3;
            border: 1px solid $color3;
            border-radius: 10px;
            padding: 5px;
            font-family: 'Amaranth', sans-serif;
            margin-top: $size2;
        }

    }
}

@media only screen and (max-width: 1020px){
    .mainRecetas{
        .tituloReceta{
            font-size: $size3*1.5;
        }
        .primeraReceta{
            .flexIngredientes{
                h3{
                    font-size: $size2*1.5;
                }
                ul{
                    li{
                        font-size: $size1*1.2;
                    }
                }
                .ingReceta{
                    li{
                        font-size: .8rem;
                    }
                }
            }
        }
        .flexPreparacion{
            h3{
                font-size: $size2*1.5;
            }
            p{
                font-size: $size1*1.2;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .mainRecetas{
        .tituloReceta{
            font-size: $size3;
        }
        .primeraReceta{
            .flexIngredientes{
                h3{
                    font-size: $size2;
                }
                ul{
                    li{
                        font-size: $size1;
                    }
                }
                .ingReceta{
                    li{
                        font-size: .6rem;
                    }
                }
            }
        }
        .flexPreparacion{
            h3{
                font-size: $size2;
            }
            p{
                font-size: $size1;
            }
        }
    }
}

@media only screen and (max-width: 480px){
    .mainRecetas{
        .tituloReceta{
            font-size: $size2*1.5;
        }
        .primeraReceta{
            flex-direction: column;
            .fotoReceta{
                width: 80%;
                margin-left: 0;
                margin: auto;
            }
            .flexIngredientes{
                margin-top: $size1;
                h3{
                    font-size: $size3/2;
                }
                ul{
                    li{
                        font-size: $size1;
                    }
                }
            }
        }
        .flexPreparacion{
            h3{
                font-size: $size3/2;
            }
            p{
                font-size: $size1;
            }
        }
    }
}

@media only screen and (max-width: 380px){
    .mainRecetas{
        .tituloReceta{
            font-size: $size2;
        }
        .primeraReceta{
            flex-direction: column;
            .fotoReceta{
                width: 80%;
                margin-left: 0;
                margin: auto;
            }
            .flexIngredientes{
                margin-top: $size1;
                h3{
                    font-size: $size1*1.3;
                }
                ul{
                    li{
                        font-size: $size1;
                    }
                }
            }
        }
        .flexPreparacion{
            h3{
                font-size: $size1*1.3;
            }
            p{
                font-size: $size1;
            }
        }
    }
}