// Paleta de colores
$color1: #000;
$color2: #fff;
$color3: #129399;
$color4: #f2b830;
$color5: #9c5513;
$color6: #d2fdff;
$color7: #ddfdff;
$color8: #f8ebcb;

// Tamaños
$size1: 1rem;
$size2: 2rem;
$size3: 3rem;
$supersize: 15rem;












