@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Amaranth&family=Dancing+Script&family=Nunito:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif !important;
}

header {
  width: 100%;
  height: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d2fdff), color-stop(#ddfdff), to(#fff));
  background-image: linear-gradient(to bottom, #d2fdff, #ddfdff, #fff);
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  height: 15rem;
}

header .titulo-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

header .titulo-nav .tituloPrincipal {
  font-family: 'Dancing Script', cursive;
  -webkit-animation-name: titleanimation;
          animation-name: titleanimation;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes titleanimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes titleanimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header .titulo-nav #tituloIndex {
  color: #000;
  font-size: 2rem;
  text-align: right;
  padding-left: 1rem;
  padding-top: 3rem;
  padding-bottom: 0;
}

header .titulo-nav .tituloOtras {
  color: #000;
  font-size: 3.5rem;
  text-align: center;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 0;
}

header .titulo-nav nav .menuNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-top: 6rem;
}

header .titulo-nav nav .menuNav .navItem a {
  color: #000;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.5rem;
  padding: 1rem;
}

header .titulo-nav nav .menuNav .focusNav a {
  color: #f2b830;
}

header .titulo-nav nav .menuNav .navItem a:hover {
  border-radius: 1rem;
  background-color: #f2b830;
  opacity: 0.8;
  color: #9c5513;
}

@media only screen and (max-width: 1020px) {
  header .logo {
    height: 10rem;
  }
  header .titulo-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  header .titulo-nav #tituloIndex {
    font-size: 1.5rem;
  }
  header .titulo-nav .tituloOtras {
    font-size: 2.5rem;
  }
  header .titulo-nav nav .menuNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding-top: 5rem;
  }
  header .titulo-nav nav .menuNav .navItem a {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 768px) {
  header .logo {
    height: 8rem;
  }
  header .titulo-nav #tituloIndex {
    font-size: 1rem;
    padding-top: 2rem;
  }
  header .titulo-nav .tituloOtras {
    font-size: 2rem;
  }
  header .titulo-nav nav .menuNav {
    padding-top: 4rem;
  }
  header .titulo-nav nav .menuNav .navItem a {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 480px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
  }
  header .logo {
    height: 7rem;
    margin: 1rem;
  }
  header .titulo-nav #tituloIndex {
    font-size: 1rem;
    padding-top: 0;
  }
  header .titulo-nav .tituloOtras {
    font-size: 1.5rem;
    padding-top: 0;
  }
  header .titulo-nav nav .menuNav {
    padding-top: 1rem;
  }
  header .titulo-nav nav .menuNav .navItem a {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 380px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.5rem;
  }
  header .logo {
    height: 6rem;
    margin: 0.5rem;
  }
  header .titulo-nav #tituloIndex {
    font-size: 1rem;
    padding-top: 0;
  }
  header .titulo-nav .tituloOtras {
    display: none;
  }
  header .titulo-nav nav .menuNav {
    padding-top: 0;
  }
  header .titulo-nav nav .menuNav .navItem a {
    font-size: .8rem;
    padding: 0.33333rem;
  }
}

footer {
  width: 100%;
  height: auto;
  padding-top: 2.3rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d2fdff), color-stop(#ddfdff), to(#fff));
  background-image: linear-gradient(to top, #d2fdff, #ddfdff, #fff);
}

footer .formFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
}

footer .formFooter #suscripcion {
  width: 16%;
  height: 1.7rem;
  border-radius: 0px;
  border: 0.5px solid #9c5513;
  margin: 5px;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
}

footer .formFooter #enviarFooter {
  width: 16.5%;
  height: 1.7rem;
  border-radius: 1.5rem;
  border: 2px solid #f2b830;
  background-color: #f2b830;
  font-family: 'Nunito', sans-serif;
  color: #fff;
  font-weight: bolder;
  font-size: 1rem;
  -webkit-transition: 1s;
  transition: 1s;
}

footer .formFooter #enviarFooter:hover {
  background-color: #129399;
  border: 2px solid #129399;
}

footer .redes {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .redes a {
  padding: 1rem;
  text-decoration: none;
  color: #f2b830;
  font-size: 2rem;
  -webkit-transition: 1s;
  transition: 1s;
}

footer .redes a:hover {
  color: #129399;
}

@media only screen and (max-width: 1020px) {
  footer {
    padding-top: 1rem;
  }
  footer .formFooter {
    font-size: 1rem;
  }
  footer .formFooter #suscripcion {
    width: 14rem;
    height: 1.75rem;
    margin: .3rem;
    font-size: 1rem;
    margin-bottom: .5rem;
  }
  footer .formFooter #enviarFooter {
    width: 14.2rem;
    height: 1.75rem;
    border-radius: 10px;
    font-size: 1rem;
  }
  footer .redes {
    padding: 0;
    margin-top: 1.6rem;
  }
}

@media only screen and (max-width: 768px) {
  footer {
    height: auto;
    padding-top: 1rem;
  }
  footer .formFooter {
    font-size: .8rem;
  }
  footer .formFooter #suscripcion {
    width: 12rem;
    height: 1.5rem;
    margin: .3rem;
    font-size: .8rem;
    margin-bottom: .5rem;
  }
  footer .formFooter #enviarFooter {
    width: 12.2rem;
    height: 1.5rem;
    border-radius: 10px;
    font-size: .8rem;
  }
  footer .redes {
    padding: 0;
    margin-top: 1.2rem;
  }
  footer .redes a {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 480px) {
  footer {
    height: auto;
  }
  footer .formFooter {
    font-size: .8rem;
  }
  footer .formFooter #suscripcion {
    width: 10rem;
    margin-bottom: .3rem;
  }
  footer .formFooter #enviarFooter {
    width: 10rem;
  }
  footer .redes {
    padding: 0;
    margin-top: .8rem;
  }
}

.mainIndex {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.mainIndex .contMainAutor {
  width: 90%;
  height: 50vh;
  margin: auto;
  margin-top: 1rem;
  background-color: #f8ebcb;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 'titulo titulo titulo foto' 'texto texto texto foto' 'boton boton boton foto';
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainIndex .contMainAutor .tituloAutor {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: titulo;
  margin: 1rem;
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Dancing Script', cursive;
  font-weight: bolder;
}

.mainIndex .contMainAutor .textoAutor {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: texto;
  margin: 0;
  margin-left: 1rem;
  font-family: 'Amaranth', sans-serif;
  font-size: 1.3rem;
  text-align: center;
  font-style: italic;
}

.mainIndex .contMainAutor .botonAutor {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: boton;
  margin: auto;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #9c5513;
  text-decoration: none;
  text-shadow: 1px 1px 2px #000;
  color: #fff;
  font-family: 'Amaranth', sans-serif;
  border-radius: 1.3rem;
  -webkit-box-shadow: 0.1rem 0.1rem 1rem #5f5f5f;
          box-shadow: 0.1rem 0.1rem 1rem #5f5f5f;
  -webkit-transition: 1s;
  transition: 1s;
}

.mainIndex .contMainAutor .botonAutor:hover {
  background-color: #f2b830;
}

.mainIndex .contMainAutor .imgAutor {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  grid-area: foto;
  height: 40vh;
  border-radius: 30%;
  margin: auto;
}

.mainIndex .contMain {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainIndex .contMain .artMain {
  width: 50%;
  margin: .5rem;
  -webkit-box-shadow: 0.2rem 0.2rem 0.5rem darkgray;
          box-shadow: 0.2rem 0.2rem 0.5rem darkgray;
}

.mainIndex .contMain .artMain h2 {
  margin-bottom: 1rem;
  font-family: 'Amaranth', sans-serif;
  color: #f2b830;
  text-shadow: 0.1rem 0.1rem 0.1rem #9c5513;
  font-size: 2rem;
  text-align: center;
}

.mainIndex .contMain .artMain .artFormato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainIndex .contMain .artMain .artFormato .imgArt {
  height: 12.5rem;
  margin: 0.5rem;
  padding: 0.33333rem;
}

.mainIndex .contMain .artMain .artFormato .artReceta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2rem;
}

.mainIndex .contMain .artMain .artFormato .artReceta h3 {
  font-family: 'Amaranth', sans-serif;
  color: #9c5513;
  font-weight: bolder;
  font-size: 1.8rem;
  text-align: left;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.mainIndex .contMain .artMain .artFormato .artReceta .ingReceta {
  font-size: 1.2rem;
}

.mainIndex .contMain .artMain h3.prep {
  margin-left: 10px;
  font-weight: bolder;
}

.mainIndex .contMain .artMain .textoArt {
  margin: 1rem;
  margin-top: 0;
  font-size: 1.2rem;
  text-align: left;
}

.mainIndex .contMain .artMain .textoArt a {
  text-decoration: none;
  color: #9c5513;
  font-family: 'Amaranth', sans-serif;
  -webkit-transition: .5s;
  transition: .5s;
}

.mainIndex .contMain .artMain .textoArt a:hover {
  background-color: #f8ebcb;
}

.carousel-inner, .carousel-item {
  height: 39rem !important;
  width: 96% !important;
  margin-left: 2%;
  margin-right: 2%;
}

@media only screen and (max-width: 1020px) {
  .mainIndex .contMainAutor .tituloAutor {
    font-size: 2rem;
  }
  .mainIndex .contMainAutor .textoAutor {
    font-size: 1rem;
  }
  .mainIndex .contMainAutor .botonAutor {
    padding: .3rem .5rem;
    font-size: .8rem;
    border-radius: 1rem;
  }
  .mainIndex .contMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainIndex .contMain .artMain {
    width: 90%;
    margin: auto;
  }
  .mainIndex .contMain .artMain h2 {
    margin-bottom: 1rem;
    color: #f2b830;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
  }
  .mainIndex .contMain .artMain .artFormato {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainIndex .contMain .artMain .artFormato .imgArt {
    height: 15rem;
  }
  .mainIndex .contMain .artMain .artFormato .artReceta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 4rem;
  }
  .mainIndex .contMain .artMain .artFormato .artReceta h3 {
    font-size: 1.5rem;
  }
  .mainIndex .contMain .artMain .artFormato .artReceta .ingReceta {
    font-size: 1.2rem;
  }
  .mainIndex .contMain .artMain h3.prep {
    font-family: 'Amaranth', sans-serif;
    color: #9c5513;
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .segundoArt {
    padding-top: 2rem;
  }
  .carousel-inner, .carousel-item {
    height: auto !important;
  }
}

@media only screen and (max-width: 768px) {
  .mainIndex .contMainAutor .tituloAutor {
    font-size: 1.5rem;
  }
  .mainIndex .contMainAutor .textoAutor {
    font-size: .8rem;
  }
  .mainIndex .contMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainIndex .contMain .artMain {
    width: 90%;
    margin: auto;
  }
  .mainIndex .contMain .artMain h2 {
    padding-top: 1rem;
    font-size: 1.5rem;
    text-shadow: inherit;
    font-weight: bolder;
  }
  .mainIndex .contMain .artMain .artFormato {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainIndex .contMain .artMain .artFormato .imgArt {
    height: 15rem;
  }
  .mainIndex .contMain .artMain .artFormato .artReceta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 2rem;
  }
  .mainIndex .contMain .artMain .artFormato .artReceta h3 {
    font-size: 1.3rem;
  }
  .mainIndex .contMain .artMain .artFormato .artReceta .ingReceta {
    font-size: 1rem;
  }
  .mainIndex .contMain .artMain .textoArt {
    font-size: 1rem;
    margin-left: 2rem;
  }
  .segundoArt {
    padding-top: 0;
  }
}

@media only screen and (max-width: 480px) {
  .mainIndex .contMainAutor .tituloAutor {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .mainIndex .contMainAutor .textoAutor {
    font-size: .8rem;
  }
  .mainIndex .contMainAutor .botonAutor {
    padding: .3rem .3rem;
    font-size: .7rem;
    border-radius: 1rem;
    -webkit-box-shadow: inherit;
            box-shadow: inherit;
  }
  .mainIndex .contMainAutor .imgAutor {
    height: 35vh;
  }
  .mainIndex .contMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
  }
  .mainIndex .contMain .artMain {
    -webkit-box-shadow: inherit;
            box-shadow: inherit;
    width: 100%;
  }
  .mainIndex .contMain .artMain h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  .mainIndex .contMain .artMain .artFormato {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainIndex .contMain .artMain .artFormato .imgArt {
    height: 18rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 0.33333rem;
  }
  .mainIndex .contMain .artMain .artFormato .artReceta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 1rem;
  }
  .mainIndex .contMain .artMain .artFormato .artReceta .ingReceta {
    font-size: 1rem;
  }
  .mainIndex .contMain .artMain .textoArt {
    font-size: 1rem;
    margin-left: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h3.prep {
    margin-left: 2rem;
  }
  .carousel-inner, .carousel-item {
    height: auto !important;
    width: 96% !important;
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media only screen and (max-width: 380px) {
  .mainIndex .contMainAutor {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
  }
  .mainIndex .contMainAutor .tituloAutor {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .mainIndex .contMainAutor .textoAutor {
    font-size: .8rem;
  }
  .mainIndex .contMainAutor .botonAutor {
    margin-top: .5rem;
    padding: .3rem .3rem;
    font-size: .7rem;
    border-radius: 1rem;
    -webkit-box-shadow: inherit;
            box-shadow: inherit;
  }
  .mainIndex .contMain .artMain .artFormato .imgArt {
    height: 15rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .mainIndex .contMain .artMain .artFormato .artReceta .ingReceta {
    font-size: .8rem;
  }
  .mainIndex .contMain .artMain .textoArt {
    font-size: .8rem;
    margin-left: 1.5rem;
  }
}

.mainBlog {
  width: 96%;
  height: auto;
  margin: 1rem 2%;
  font-size: 1rem;
}

.mainBlog section h2 {
  margin-bottom: 1rem;
  font-family: 'Amaranth', sans-serif;
  color: #f2b830;
  text-shadow: 0.1rem 0.1rem 0.1rem #9c5513;
  font-size: 3rem;
  text-align: center;
}

.mainBlog section p {
  margin-bottom: 10px;
}

.mainBlog section p em {
  font-weight: bolder;
  color: #129399;
}

.mainBlog section article h3 {
  font-family: 'Amaranth', sans-serif;
  font-size: 2rem;
  margin-bottom: 5px;
  color: #9c5513;
}

.mainBlog section article .avena {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainBlog section article .huevos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainBlog section article .lentejas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imgBlog {
  width: 25%;
}

.composicion {
  width: 25%;
  margin-left: 2%;
}

.beneficios {
  width: 25%;
  margin-left: 2%;
}

.usos {
  width: 25%;
  margin-left: 2%;
}

h4 {
  font-family: 'Amaranth', sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
  color: #9c5513;
}

@media only screen and (max-width: 1020px) {
  .mainBlog {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 1rem;
  }
  .mainBlog section h2 {
    margin-bottom: .5rem;
  }
  .mainBlog section p {
    margin-bottom: .5rem;
  }
  .mainBlog section article h3 {
    font-size: 1.8rem;
  }
  .imgBlog {
    width: 28%;
  }
  .composicion {
    width: 24%;
    margin-left: 1%;
  }
  .beneficios {
    width: 24%;
    margin-left: 1%;
  }
  .usos {
    width: 24%;
    margin-left: 1%;
  }
  h4 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .mainBlog {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    font-size: .8rem;
  }
  .mainBlog section h2 {
    margin-bottom: 0;
    font-size: 1.5rem;
    text-align: center;
    padding: 0;
  }
  .mainBlog section p {
    margin-bottom: .5rem;
  }
  .mainBlog section article h3 {
    font-size: 1.5rem;
  }
  .mainBlog section article .avena {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .mainBlog section article .huevos {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .mainBlog section article .lentejas {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .mainBlog h4 {
    font-size: 1rem;
  }
  .imgBlog {
    width: 31%;
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .mainBlog {
    font-size: .8rem;
  }
  .mainBlog section h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .mainBlog section article h3 {
    font-size: 1.3rem;
  }
  .mainBlog section article .avena {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainBlog section article .huevos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainBlog section article .lentejas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .imgBlog {
    display: inherit;
    height: 17rem;
    width: auto;
    padding: 1rem;
    padding-bottom: 0;
  }
  .composicion {
    width: 100%;
    padding: 1rem;
    padding-bottom: 0;
  }
  .beneficios {
    width: 100%;
    padding: 1rem;
    padding-bottom: 0;
  }
  .usos {
    width: 100%;
    padding: 1rem;
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 380px) {
  .imgBlog {
    display: inherit;
    height: 14rem;
    width: auto;
    padding: 1rem;
    padding-bottom: 0;
  }
}

.mainQuienSoy {
  width: 90%;
  height: auto;
  margin: 1rem 5%;
}

.mainQuienSoy section {
  padding: 1rem;
}

.mainQuienSoy section .biografia {
  margin-bottom: 1rem;
}

.mainQuienSoy section .biografia h2 {
  margin-bottom: 1rem;
  font-family: 'Amaranth', sans-serif;
  color: #f2b830;
  text-shadow: 0.1rem 0.1rem 0.1rem #9c5513;
  font-size: 3rem;
  text-align: left;
}

.mainQuienSoy section .biografia .contBiografia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mainQuienSoy section .biografia .contBiografia .imgBiografia {
  margin-left: 1rem;
  height: 55vh;
  -webkit-transition: 1s;
  transition: 1s;
}

.mainQuienSoy section .biografia .contBiografia .imgBiografia:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0.1rem 0.1rem 0.5rem #129399;
          box-shadow: 0.1rem 0.1rem 0.5rem #129399;
}

.mainQuienSoy section .biografia .contBiografia p {
  font-size: 1.3rem;
  margin-left: 2rem;
}

.mainQuienSoy section .biografia .contBiografia p a {
  text-decoration: none;
  color: #129399;
  font-weight: bolder;
}

.mainQuienSoy section .biografia .contBiografia p a:hover {
  background-color: #f2b830;
  color: #9c5513;
  padding: .3rem;
  border: 1px solid #f2b830;
  border-radius: 5px;
}

.mainQuienSoy section .hobbies h2 {
  margin-bottom: 1rem;
  font-family: 'Amaranth', sans-serif;
  color: #f2b830;
  text-shadow: 0.1rem 0.1rem 0.1rem #9c5513;
  font-size: 3rem;
  text-align: right;
}

.mainQuienSoy section .hobbies p {
  font-size: 1.3rem;
}

.mainQuienSoy section .hobbies ul li {
  list-style: circle;
  color: #000;
  font-size: 1.3rem;
}

.mainQuienSoy section .hobbies .galeria {
  width: 95%;
  height: auto;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "foto2 foto4 foto4 foto7" "foto2 foto4 foto4 foto7" "foto1 foto1 foto3 foto6" "foto1 foto1 foto3 foto5";
}

.mainQuienSoy section .hobbies .galeria .foto {
  min-height: 200px;
  min-width: 200px;
  background-size: cover;
}

.mainQuienSoy section .hobbies .galeria .foto:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-box-shadow: 5px 5px 20px 1px #000;
          box-shadow: 5px 5px 20px 1px #000;
}

.mainQuienSoy section .hobbies .galeria .foto1 {
  background-image: url("../imágenes/amigos.jpeg");
  background-position: center;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: foto1;
}

.mainQuienSoy section .hobbies .galeria .foto2 {
  background-image: url("../imágenes/baile.jpeg");
  background-position: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: foto2;
}

.mainQuienSoy section .hobbies .galeria .foto3 {
  background-image: url("../imágenes/campo-de-margaritas.jpeg");
  background-position: top;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: foto3;
}

.mainQuienSoy section .hobbies .galeria .foto4 {
  background-image: url("../imágenes/comida-sana.jpeg");
  background-position: bottom;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: foto4;
}

.mainQuienSoy section .hobbies .galeria .foto5 {
  background-image: url("../imágenes/ejercicio.jpeg");
  background-position: center;
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: foto5;
}

.mainQuienSoy section .hobbies .galeria .foto6 {
  background-image: url("../imágenes/familia.jpeg");
  background-position: center;
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: foto6;
}

.mainQuienSoy section .hobbies .galeria .foto7 {
  background-image: url("../imágenes/naturaleza.jpeg");
  background-position: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: foto7;
}

@media only screen and (max-width: 1020px) {
  .mainQuienSoy section .biografia h2 {
    font-size: 2.5rem;
  }
  .mainQuienSoy section .biografia .contBiografia .imgBiografia {
    height: 80vh;
  }
  .mainQuienSoy section .biografia .contBiografia p {
    font-size: 1rem;
  }
  .mainQuienSoy section .hobbies h2 {
    font-size: 2.5rem;
  }
  .mainQuienSoy section .hobbies p {
    font-size: 1rem;
  }
  .mainQuienSoy section .hobbies ul li {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .mainQuienSoy {
    width: 94%;
    margin: 1rem 3%;
  }
  .mainQuienSoy section .biografia h2 {
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
  }
  .mainQuienSoy section .biografia .contBiografia {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .mainQuienSoy section .biografia .contBiografia .imgBiografia {
    height: 50vh;
  }
  .mainQuienSoy section .biografia .contBiografia p {
    font-size: 1.2rem;
    margin-left: 0;
  }
  .mainQuienSoy section .hobbies h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  .mainQuienSoy section .hobbies p {
    font-size: 1.2rem;
  }
  .mainQuienSoy section .hobbies ul li {
    list-style: circle;
    color: #000;
    font-size: 1.2rem;
  }
  .mainQuienSoy section .hobbies .galeria {
    width: 95%;
    height: auto;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainQuienSoy section .hobbies .galeria .foto {
    height: 100vh;
  }
}

@media only screen and (max-width: 480px) {
  .mainQuienSoy section .biografia h2 {
    font-size: 2rem;
  }
  .mainQuienSoy section .biografia .contBiografia .imgBiografia {
    height: 50vh;
  }
  .mainQuienSoy section .biografia .contBiografia p {
    font-size: 1rem;
  }
  .mainQuienSoy section .hobbies h2 {
    font-size: 2rem;
  }
  .mainQuienSoy section .hobbies p {
    font-size: 1rem;
  }
  .mainQuienSoy section .hobbies ul li {
    font-size: 1rem;
  }
  .mainQuienSoy section .hobbies .galeria {
    display: none;
  }
}

@media only screen and (max-width: 380px) {
  .mainQuienSoy section .biografia h2 {
    font-size: 1.8rem;
  }
  .mainQuienSoy section .biografia .contBiografia .imgBiografia {
    height: 80vh;
  }
  .mainQuienSoy section .hobbies h2 {
    font-size: 1.8rem;
  }
}

.mainRecetas {
  width: 80%;
  height: auto;
  margin: 1.5rem auto;
}

.mainRecetas .tituloReceta {
  margin-bottom: 1rem;
  font-family: 'Amaranth', sans-serif;
  color: #f2b830;
  text-shadow: 0.1rem 0.1rem 0.1rem #9c5513;
  font-size: 4rem;
  text-align: center;
}

.mainRecetas .primeraReceta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.mainRecetas .primeraReceta .fotoReceta {
  width: 40%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.5);
}

.mainRecetas .primeraReceta .fotoReceta:hover {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mainRecetas .primeraReceta .flexIngredientes {
  margin: 0 5%;
}

.mainRecetas .primeraReceta .flexIngredientes h3 {
  font-family: 'Amaranth', sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: bolder;
  color: #9c5513;
}

.mainRecetas .primeraReceta .flexIngredientes ol li {
  font-size: 1.4rem;
}

.mainRecetas .flexPreparacion h3 {
  font-family: 'Amaranth', sans-serif;
  color: #9c5513;
  margin-top: 1rem;
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: bolder;
}

.mainRecetas .flexPreparacion p {
  font-size: 20px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1020px) {
  .mainRecetas .tituloReceta {
    font-size: 3.5rem;
  }
  .mainRecetas .primeraReceta .flexIngredientes h3 {
    font-size: 2.5rem;
  }
  .mainRecetas .primeraReceta .flexIngredientes ol li {
    font-size: 1.2rem;
  }
  .mainRecetas .flexPreparacion h3 {
    font-size: 2.5rem;
  }
  .mainRecetas .flexPreparacion p {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 768px) {
  .mainRecetas .tituloReceta {
    font-size: 3rem;
  }
  .mainRecetas .primeraReceta .flexIngredientes h3 {
    font-size: 2rem;
  }
  .mainRecetas .primeraReceta .flexIngredientes ol li {
    font-size: 1rem;
  }
  .mainRecetas .flexPreparacion h3 {
    font-size: 2rem;
  }
  .mainRecetas .flexPreparacion p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .mainRecetas .tituloReceta {
    font-size: 2.5rem;
  }
  .mainRecetas .primeraReceta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainRecetas .primeraReceta .fotoReceta {
    width: 80%;
    margin-left: 0;
    margin: auto;
  }
  .mainRecetas .primeraReceta .flexIngredientes {
    margin-top: 1rem;
  }
  .mainRecetas .primeraReceta .flexIngredientes h3 {
    font-size: 1.5rem;
  }
  .mainRecetas .primeraReceta .flexIngredientes ol li {
    font-size: 1rem;
  }
  .mainRecetas .flexPreparacion h3 {
    font-size: 1.5rem;
  }
  .mainRecetas .flexPreparacion p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 380px) {
  .mainRecetas .tituloReceta {
    font-size: 2rem;
  }
  .mainRecetas .primeraReceta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainRecetas .primeraReceta .fotoReceta {
    width: 80%;
    margin-left: 0;
    margin: auto;
  }
  .mainRecetas .primeraReceta .flexIngredientes {
    margin-top: 1rem;
  }
  .mainRecetas .primeraReceta .flexIngredientes h3 {
    font-size: 1.3rem;
  }
  .mainRecetas .primeraReceta .flexIngredientes ol li {
    font-size: 1rem;
  }
  .mainRecetas .flexPreparacion h3 {
    font-size: 1.3rem;
  }
  .mainRecetas .flexPreparacion p {
    font-size: 1rem;
  }
}

.mainContacto {
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(#f8ebcb), to(#fff));
  background-image: linear-gradient(to top, #fff, #f8ebcb, #fff);
}

.mainContacto h2 {
  margin-bottom: 1rem;
  font-family: 'Amaranth', sans-serif;
  color: #f2b830;
  text-shadow: 0.1rem 0.1rem 0.1rem #9c5513;
  font-size: 3rem;
  text-align: center;
}

.mainContacto #contacto {
  width: 30%;
  margin: auto;
  text-align: center;
  padding: 10px;
}

.mainContacto #contacto label {
  font-family: 'Amaranth', sans-serif;
  color: #129399;
  font-size: 1.3rem;
}

.mainContacto #contacto input {
  width: 80%;
  border-radius: 2rem;
  border: 1px solid #129399;
  text-align: center;
  font-family: 'Amaranth', sans-serif;
}

.mainContacto #contacto #edad {
  width: 10%;
}

.mainContacto #contacto #consulta {
  width: 80%;
  border-radius: 2rem;
  border: 1px solid #129399;
  font-family: 'Amaranth', sans-serif;
  padding: 1rem;
}

.mainContacto #contacto .botonEnviar, .mainContacto #contacto .botonBorrar {
  margin: 1rem;
  background-color: #129399;
  color: #fff;
  font-size: 1.2rem;
}

.mainContacto #contacto .botonBorrar {
  margin: 0;
}

@media only screen and (max-width: 1020px) {
  .mainContacto h2 {
    font-size: 2.5rem;
  }
  .mainContacto #contacto {
    width: 35%;
  }
  .mainContacto #contacto label {
    font-size: 1rem;
  }
  .mainContacto #contacto input {
    width: 90%;
    border-radius: 1.5rem;
  }
  .mainContacto #contacto #edad {
    width: 15%;
  }
  .mainContacto #contacto #consulta {
    width: 90%;
    border-radius: 1.5rem;
  }
  .mainContacto #contacto .botonEnviar, .mainContacto #contacto .botonBorrar {
    font-size: 1rem;
  }
  .mainContacto #contacto .botonBorrar {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .mainContacto h2 {
    font-size: 2rem;
  }
  .mainContacto #contacto {
    width: 40%;
  }
  .mainContacto #contacto label {
    font-size: 1rem;
  }
  .mainContacto #contacto input {
    width: 90%;
    border-radius: 1.3rem;
  }
  .mainContacto #contacto #edad {
    width: 15%;
  }
  .mainContacto #contacto #consulta {
    width: 90%;
    border-radius: 1.3rem;
  }
  .mainContacto #contacto .botonEnviar, .mainContacto #contacto .botonBorrar {
    font-size: 1rem;
  }
  .mainContacto #contacto .botonBorrar {
    margin: 0;
  }
}

@media only screen and (max-width: 480px) {
  .mainContacto h2 {
    font-size: 2rem;
  }
  .mainContacto #contacto {
    width: 60%;
  }
}

@media only screen and (max-width: 380px) {
  .mainContacto h2 {
    font-size: 1.8rem;
  }
  .mainContacto #contacto {
    width: 80%;
  }
}

.paginaError {
  background-color: #bef7fa;
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.paginaError .error {
  height: 15rem;
  width: 12rem;
  text-align: center;
  padding-top: 2rem;
  background-image: url(../imágenes/lluvia.png);
  background-position: center;
  background-size: cover;
  font-size: 5rem;
  color: #f2b830;
  font-weight: bolder;
  font-family: "Amaranth", sans-serif;
  text-shadow: 0.1rem 0.1rem 0.1rem #fff;
}

.paginaError .contenedor__error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
  margin-left: 10rem;
  margin-right: 1rem;
}

.paginaError .contenedor__error .imagen__error {
  height: 25rem;
}

.paginaError .contenedor__error .subcontenedor__error {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.paginaError .contenedor__error .subcontenedor__error .pageNotFound {
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Amaranth', sans-serif;
  color: #129399;
  text-shadow: 0.1rem 0.1rem 0.1rem #000;
  padding: 3rem;
}

.paginaError .contenedor__error .subcontenedor__error .explanationError {
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'Nunito', sans-serif;
  color: #000;
  text-shadow: inherit;
  text-align: center;
  padding: 0rem;
  padding-bottom: 3rem;
}

.paginaError .contenedor__error .subcontenedor__error .buttonError {
  color: #fff;
  background-color: #f2b830;
  border: inherit;
  border-radius: .3rem;
  font-family: 'Amaranth', sans-serif;
  font-size: 1.5rem;
  padding: 0.5rem;
  -webkit-box-shadow: 0.1rem 0.1rem 0.5rem #9c5513;
          box-shadow: 0.1rem 0.1rem 0.5rem #9c5513;
}
/*# sourceMappingURL=style.css.map */